

<div class="container">

  <div class="row my-5">

    <h1>Kittens</h1>

    <ul>
      <% @kittens.each do |kitten| %>
        <li>
          <%= link_to kitten.name, kitten %>
        </li>
      <% end %>
    </ul>

  </div>

  <div class="row my-5">
    <%= link_to "New Kitten", new_kitten_path %>
  </div>

</div>